.callout[data-callout="chat"] {
	--callout-icon: message-square;
	--callout-color: var(--callout-quote);

	&[data-callout-metadata~="group"] {
		--callout-icon: messages-square;
	}

	.callout-content {
		display: flex;
		flex-direction: column;
		padding-top: 1rem;
	}

	.callout[data-callout="them"],
	.callout[data-callout="you"] {
		--callout-icon: circle-user-round;
		margin: 1px !important;
		padding: 0.75rem;
		max-width: 80%;

		border-radius: calc(var(--callout-radius) * 4);

		.callout-content {
			padding: 0px;

			:first-child {
				margin-top: 0.5rem;
			}

			:last-child {
				margin-bottom: 0px;
			}
		}
	}

	:is(&:not([data-callout-metadata="group"]) .callout[data-callout="them"], .callout[data-callout="you"]) .callout-title
	{
		display: none;
	}

	.callout[data-callout="them"] {
		--callout-color: var(--callout-quote);
		align-self: start;

		border-bottom-left-radius: var(--callout-radius);
	}

	.callout[data-callout="you"] {
		align-self: end;

		border-bottom-right-radius: var(--callout-radius);
	}

	.callout[data-callout="them"]:has(+ .callout[data-callout="them"]) + .callout[data-callout="them"] {
		border-top-left-radius: var(--callout-radius);
	}

	.callout[data-callout="you"]:has(+ .callout[data-callout="you"]) + .callout[data-callout="you"] {
		border-top-right-radius: var(--callout-radius);
	}
}
