.callout[data-callout="chat"] {
	--callout-icon: messages-square;
	--callout-color: var(--callout-quote);

	&[data-callout-metadata~="group"] {
		--callout-icon: users-round;

		.callout[data-callout="them"] .callout-content :first-child {
			margin-top: 0.5rem;
		}
	}

	:is(&:not([data-callout-metadata="group"]) .callout[data-callout="them"], .callout[data-callout="you"]) .callout-title
	{
		display: none;
	}

	.callout-content {
		padding-top: 1rem;
	}

	.callout[data-callout="them"],
	.callout[data-callout="you"] {
		--callout-icon: circle-user-round;
		margin: 1px;
		padding: 0.75rem;
		max-width: 80%;

		border-radius: calc(var(--callout-radius) * 4);

		.callout-content {
			padding: 0px;

			:first-child {
				margin-top: 0rem;
			}

			:last-child {
				margin-bottom: 0px;
			}
		}

		.callout[data-callout="time"] {
			--callout-color: var(--callout-quote);
			background: unset;
			width: max-content;
			margin: 0 0 0 auto;
			padding: 0;

			.callout-title {
				display: flex;
			}

			.callout-icon {
				display: none;
			}

			.callout-title-inner {
				--font-weight: var(--font-weight);
			}
		}
	}

	.callout[data-callout="them"] {
		--callout-color: var(--callout-quote);
		margin-right: auto;
		width: max-content;

		border-bottom-left-radius: var(--callout-radius);

		&:has(+ .callout[data-callout="them"]) + .callout[data-callout="them"] {
			border-top-left-radius: var(--callout-radius);
		}
	}

	.callout[data-callout="you"] {
		margin-left: auto;
		width: max-content;

		border-bottom-right-radius: var(--callout-radius);

		&:has(+ .callout[data-callout="you"]) + .callout[data-callout="you"] {
			border-top-right-radius: var(--callout-radius);
		}
	}

	.callout[data-callout="date"] {
		--callout-color: var(--callout-quote);

		background: unset;
		width: max-content;
		margin: 0 auto;

		.callout-title-inner {
			--font-weight: var(--font-weight);
		}

		.callout-icon {
			display: none;
		}
	}
}
