.callout[data-callout="chat"] {
	--callout-icon: messages-square;
	--callout-color: var(--callout-quote);

	&[data-callout-metadata~="group"] {
		--callout-icon: users-round;

		.callout[data-callout="them"] > .callout-content > :first-child {
			margin-top: var(--size-4-2);
		}
	}

	:is(&:not([data-callout-metadata="group"]) .callout[data-callout="them"], .callout[data-callout="you"]) > .callout-title {
		display: none;
	}

	> .callout-content {
		padding-top: var(--size-4-4);
	}

	.callout[data-callout="them"],
	.callout[data-callout="you"] {
		--callout-icon: circle-user-round;
		margin-top: var(--size-4-2);
		margin-bottom: var(--size-4-2);
		padding: calc(calc(var(--size-4-2) + var(--size-4-3)) / 2);
		max-width: 80%;

		border-radius: calc(var(--callout-radius) * 4);

		.callout-content {
			padding: 0;

			:first-child {
				margin-top: 0;
			}

			:last-child {
				margin-bottom: 0;
			}
		}

		.callout[data-callout="time"] {
			margin: 0 0 0 auto;
			padding: 0;
		}

		:has(+ .callout[data-callout="time"]) {
			margin-bottom: var(--size-2-1);
		}
	}

	.callout[data-callout="them"] {
		--callout-color: var(--callout-quote);
		margin-right: auto;
		width: max-content;

		&:has(+ .callout[data-callout="them"]) {
			border-bottom-left-radius: var(--callout-radius);
			margin-bottom: var(--size-2-1);
		}

		&:has(+ .callout[data-callout="them"]) + .callout[data-callout="them"] {
			border-top-left-radius: var(--callout-radius);
			margin-top: var(--size-2-1);
		}
	}

	.callout[data-callout="you"] {
		margin-left: auto;
		width: max-content;

		&:has(+ .callout[data-callout="you"]) {
			border-bottom-right-radius: var(--callout-radius);
			margin-bottom: var(--size-2-1);
		}

		&:has(+ .callout[data-callout="you"]) + .callout[data-callout="you"] {
			border-top-right-radius: var(--callout-radius);
			margin-top: var(--size-2-1);
		}
	}

	.callout[data-callout="date"],
	:is(.callout[data-callout="them"], .callout[data-callout="you"]) .callout[data-callout="time"] {
		--callout-color: var(--callout-quote);
		--callout-title-size: var(--font-smallest);

		background: unset;
		width: max-content;

		.callout-icon {
			display: none;
		}

		.callout-title-inner {
			--font-weight: var(--font-weight);
		}
	}

	.callout[data-callout="date"] {
		padding: 0;
		margin: var(--size-4-2) auto;
	}
}
