:root * {
	--table-row-alternate-background-color: rgba(from var(--color-base-40) r g b / 0.15);

	--table-row-alt-background: var(--table-row-alternate-background-color);
	--table-row-alt-background-hover: var(--table-row-alternate-background-color);
}
